
.vs/slnx.sqlite
.vs/textRPG/config/applicationhost.config
.vs/textRPG/v16/Browse.VC.db
.vs/textRPG/v16/ipch/AutoPCH/acffe1f1d6d423bf/TEXTRPG.ipch
.vs/textRPG/v16/.suo
.vs/VSWorkspaceState.json
CppProperties.json
